#area { 
	position: absolute;
	background: cyan;
	width: 500px;
	height: 500px;
	top: 0;
	left: 0;
	overflow: hidden;
}
#gun {
	width: 16px;
	height: 200px;
	background: grey;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -8px;
	margin-bottom: -100px;

}